@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9fb; /* Fond ultra-clair type ChatGPT */
}

body {
  background-color: var(--background);
  color: #1f1f1f;
  margin: 0;
  font-family: "Inter", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar invisible mais fonctionnelle */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}
