@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f7; /* Le gris clair épuré de la maquette */
}

body {
  background-color: var(--background);
  color: #1d1d1f;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Suppression des bordures par défaut pour un look moderne */
* {
  border-color: rgba(0, 0, 0, 0.05);
}
