@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f7; /* Gris clair Apple pour faire ressortir les cartes blanches */
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e5e7;
  border-radius: 10px;
}
