@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #c5a059;
  --deep-black: #0a0a0a;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fcfcfc;
  color: var(--deep-black);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

/* Animation de fondu pour les messages */
.message-appear {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
